<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90385068552-s7otf2qcg5ui8if0ddep5qi0u7vj3qjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90385068552-s7otf2qcg5ui8if0ddep5qi0u7vj3qjk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>90385068552-bhjeh4qscm3a63bk48apn1fraqort8co.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3Q2mATEzDRDViTF7Wb7_p-hrD60unaP0</string>
	<key>GCM_SENDER_ID</key>
	<string>90385068552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nookmyseatapplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bookmymovie-70dd7</string>
	<key>STORAGE_BUCKET</key>
	<string>bookmymovie-70dd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90385068552:ios:2975f6eb0d804d08a357bd</string>
	<key>DATABASE_URL</key>
	<string>https://bookmymovie-70dd7-default-rtdb.firebaseio.com</string>
</dict>
</plist>